<!--THEME SELECTION-->
<p id="theme-para">CHOOSE THEME</p>
<div id="themes">
    <button (click)="setDarkBlue()" type="button" id="dark-blue-button">DARK/BLUE</button>
    <button (click)="setWhiteRed()" type="button" id="white-red-button">WHITE/RED</button>
</div>

<section id="showcase"><!--INTRO AND MOVIE IMAGES-->
    <div style="width: 90%; margin: auto;">
        <h1 [class.h1Dark]="dark_flag" [class.h1White]="white_flag"><span style="font-style: italic; font-family: Verdana, Geneva, Tahoma, sans-serif;">CinemaStage -</span> The best movie experience.</h1>
        <img [class.imgDark]="dark_flag" [class.imgWhite]="white_flag" src="../assets/starwars.jpg" alt="starwars">
        <img [class.imgDark]="dark_flag" [class.imgWhite]="white_flag" src="../assets/jumanji.jpg" alt="jumanji">
        <img [class.imgDark]="dark_flag" [class.imgWhite]="white_flag" src="../assets/aladdin.jpg" alt="aladdin">
    </div>
</section>

<nav class="nav" [class.navDark]="dark_flag" [class.navWhite]="white_flag"><!--NAVIGATION-->
    <div class="container">
        <ul>
            <button [class.navDarkButton]="dark_flag" [class.navWhiteButton]="white_flag" (click)="setShowtimes()">SHOWTIMES</button>
            <button [class.navDarkButton]="dark_flag" [class.navWhiteButton]="white_flag" (click)="setNews()">NEWS</button>
            <button [class.navDarkButton]="dark_flag" [class.navWhiteButton]="white_flag" (click)="setAbout()">ABOUT US</button>
        </ul>
    </div>
</nav>


<!-- SECTIONS: -->
<div [ngSwitch]="section">

    <!--Showtimes-->
    <div class="showtimes" *ngSwitchCase="0" [class.darkBackground]="dark_flag" [class.whiteBackground]="white_flag">
        <app-movie *ngFor="let m of movies" [movie]="m" [dark_flag]="dark_flag" [white_flag]="white_flag">
        </app-movie>
    </div>

    <!--News-->
    <div *ngSwitchCase="1" [class.newsDark]="dark_flag" [class.newsWhite]="white_flag">

        <!--newsletter-->
        <section id="newsletter" [class.newsletterDark]="dark_flag" [class.newsletterWhite]="white_flag">
		    <div class="container">
			    <h2>Subscribe to our newsletter</h2>
			    <form class="form">
				    <input type="email" name="email" placeholder=" Enter email">
				    <button type="button" class="newsletterButton" [class.newsletterBtnDark]="dark_flag" [class.newsletterBtnWhite]="white_flag">Subscribe</button>
			    </form>
		    </div>
	    </section>


        <app-news *ngFor="let n of newsList" [news]="n">
        </app-news>
    </div>

    <!--About-->
    <div id="about-wrapper" *ngSwitchCase="2">
        <section id="about">
            <br>
            <h1>WHO ARE WE?</h1>
            <br>
            <hr>
            <br>
            <p>Founded in 1995, CinemaStage has since been the most desired place in the region 
                to watch the latest and most thrilling movie releases. 
                We will stop at nothing to deliver <span class="highlight" [class.highlightDark]="dark_flag" 
                [class.highlightWhite]="white_flag">ONLY THE BEST</span> imaginable experience 
                for your eyes and ears. Our large and evergrowing following of moviegoers 
                is by itself a testament to the quality we guarantee. We incorporate the most 
                modern of sound systems and screening technology. Coupled with the complete sound 
                isolation and virtually zero noise pollution, our facilities offer nothing short 
                of cinema <span class="highlight" [class.highlightDark]="dark_flag" 
                [class.highlightWhite]="white_flag">PERFECTION.</span>
            </p>
            <br>
            <hr>
            <br>
            <h3>CONTACT US</h3>
            <br>
            <ul>
                <li><a href="#">E-mail | CinemaStageMOVIES@gmail.com</a></li>
                <li><a href="#">Phone | 07? ??? ???</a></li>
                <li><a href="#">Facebook | CinemaStageOriginal</a></li>
                <li><a href="#">Instagram | @Cinema_Stage</a></li>
                <li><a href="#">Address | 6189 Openroad street </a></li>
            </ul>
        </section>
    </div>
</div>

<footer [class.footerDark]="dark_flag" [class.footerWhite]="white_flag">
    <p>CinemaStage Movies, Copyright &copy; 2020</p>
</footer>