@keyframes slideInNews{ /*slideIn animation*/
    0% {
        transform: translateX(12%);
    }

    100% {
        transform: translateX(0%);
    }
}


.news-wrapper{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 60px;
    width: 80%;
    height: 100%;
    animation-name: slideInNews;
    animation-duration: 0.5s;
}

.image{
    cursor: pointer;
}

.text{
    text-align: center;
    padding: 5px;
    line-height: 1.5;
}

.text p{
    color: #707070;
    padding-left: 150px;
    padding-right: 150px;
}

.clickForMore{
    font-style: italic;
    font-weight: bold;
    color: lightsteelblue;
    cursor: pointer;
}